{% extends "base.html" %}

{% block head0 %}
<title>TheGuideFinder: 404 Page Not Found</title>
{% endblock %}

{% block body0 %}
<h1>The Page you requested was not found</h1>
<p>Thank you for visiting <a href="http://test.theguidefinder.com/">TheGuideFinder</a>. Unfortunately the site is still under construction and this link appears to be broken. The administrators have been notified and should be working to get this issue fixed</p>
<p>Thank you again for spending time on this site.</p>
{% endblock %}

{% block footer0 %}
<div class="footer">
<ol id="endlinks">
<li><a href="http://test.theguidefinder.com/">Home</a> | </li>
<li><a href="http://test.theguidefinder.com/about/">How It Works</a> | </li>
<li><a href="http://test.theguidefinder.com/contact/">Contact</a></li>
</ol>
</div>
{% endblock %}