{% extends "base.html" %}

{% block head0 %}
		<link href="{{ CSS_URL }}about.css" rel="stylesheet" type="text/css" />
		<title>How it Works</title>
{% endblock %}

{% block body0 %}
		<a href="{{ DOMAIN }}">
			<img id="logo-small" src="{{ MEDIA_URL }}logo_text.png"/>
		</a>    

		<div id="how_it_wrapper">

			<div class="page-header">
  				<h1>How it Works</h1>
  				<small class="lead">Making life easier for both fishermen <i>and</i> guides</small>
			</div>

			<p>Finding a great fishing guide really can make all the difference in your next fishing trip or vacation. That's why we here at The Guide Finder want to make it easier than ever to plan and book your next guided fishing experience. We offer a simplified alternative to the usual hassle and headache of fishing guide reservation, making that next great fishing trip only a few clicks away.</p>
				
			<p>Only at The Guide Finder can you search through our ever-growing database of fishing guides and find the perfect guide for your next trip. We allow you to search and filter the available guides by a number of key factors such as price, reviews, and availability. This way, guides can get more of the customers they want, and fishermen can be assured that they booked the right guide.</p>

			<p>Finding your next fishing experience is as easy as...</p>

			<h3 id="one">1. Search our guide database</h3>
			<p>No more flipping through yellow pages. No more phone calls. At The Guide Finder, simply type in the city, state, or body of water where you want to fish, and results come to you.</p>

			<h3 id="two">2. Compare available guides</h3>
			<p>There are many different types of guides out there, just as there are many different types of fishing experiences. Make sure your guide is the right one for you. The Guide Finder allows you to filter results by experience, reviews, price, and availability along with many other additional factors.</p>

			<h3 id="three">3. Book the trip!</h3>
			<p>Leave your wallet at home with our easy to use booking system. The payment will be safely and securely transferred via Paypal Verified Technology after the trip is complete, with a 13% reservation charge included. It's fast, easy, and 100% guaranteed.</p>

			<p>If you have any	questions about the service, don't hesitate to call Customer Support at 903-884-8433, that's 903-88-GUIDE</p>

			<div class="page-header">
  				<h1>FAQs</h1>
  				<small class="lead">Common questions from our users</small>
			</div>


		</div><!--end how_it_wrapper -->

{% endblock %}